# Membentuk Data Frame Dari Hasil Seleksi Spreadsheet

Import Modules

In [1]:
import pandas as pd
print(pd.__version__)

1.3.4

# Membuat Data Frame dari hasil seleksi spreadsheet

In [3]:
df=pd.read_clipboard()
df

       NIM   Nama
0  2173008   owen
1  2173006  valen
2  2173004  velin